.main-container {
  display: flex;
  flex-shrink: 0;
  min-width: 1700px;
  justify-content: space-around;
}

.form-container, .resume {
  border: 1px solid black;
  min-width: 800px;
  max-width: 800px;
  height: 1000px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container label {
  width: 95%;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}

.form-container > div {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.form-container input {
  width: 80%;
  height: 30px;
  position: absolute;
  right: 0;
}

.bio, .school, .job {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

